<template>
  <div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <img src="/img/death-icon.png" width="35px;">
        </li>
        <li class="nav-item">
          <router-link to="/create" class="nav-link">Create Appt</router-link>
        </li>
        <li class="nav-item">
          <router-link to="/appts" class="nav-link">Appts</router-link>
        </li>
      </ul>
    </nav><br />
    <transition name="fade">
      <router-view></router-view>
    </transition>
  </div>
</template>

<style>
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s
    }
    .fade-enter, .fade-leave-active {
      opacity: 0
    }
</style>

<script>    
    export default{
    }
</script>