<template>
  <div>
    <h1>Create an Appointment</h1>
    <flash-message></flash-message>
    <form @submit.prevent="addAppt">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Email:</label>
            <input type="text" class="form-control" v-model="appt.email" value="">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Date:</label>
              <datepicker v-model="appt.start_date" input-class="input" format="yyyy-MM-dd" value-format="yyyy-MM-dd" name="eldatepicker"></datepicker>
              <a class="btn btn-primary" href="#" role="button" @click="selectedDate()">Check hours in the date</a>
            </div>
          </div>
        </div><br />
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Hour:</label>
              <select v-model="appt.start_hour" class="form-control" style="width: 30%">
                    <option selected disabled>Choose prefered hour</option>
                    <option v-for="option in options" v-bind:value="option">
                        {{ option }}
                    </option>
              </select>
            </div>
          </div>
        </div><br />
        <div class="form-group">
          <button class="btn btn-primary">Create</button>
        </div>
    </form>
  </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';

    export default {
        data(){
        return {
            defaultDate: new Date(),
            appt:{},
            options: {}
        }
    },
    components: {
        Datepicker
    },
    methods: {
      addAppt(){
        let uri = '/api/appt/create';
        let date_picked = $("input[name=eldatepicker]").val();
        if (this.appt.email) {
            this.axios.post(uri, this.appt).then((response) => {
                let message = response.data;
                if (message.includes("success")){
                    this.$router.push({name: 'appts'});
                } else {
                    this.flashError(message);
                }
            });
        } else {
            this.flashError('You must enter an email');
        }
      },
      selectedDate: function() {
        let date_picked = $("input[name=eldatepicker]").val();
        let uri = `/api/appt/fetch/`+date_picked;
        this.axios.get(uri).then(response => {
            this.options = response.data;
        });
      },
    }
  }
</script>