// EditComponent.vue

<template>
  <div>
    <h1>Edit Appointment</h1>
    <flash-message></flash-message>
    <form @submit.prevent="updateAppt">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Email:</label>
            <input type="text" class="form-control" v-model="appt.email" disabled>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Date:</label>
              <textarea class="form-control" v-model="appt.start_date" rows="5"></textarea>
            </div>
          </div>
        </div><br />
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Hour:</label>
              <textarea class="form-control" v-model="appt.start_hour" rows="5"></textarea>
            </div>
          </div>
        </div><br />
        <div class="form-group">
          <button class="btn btn-primary">Update</button>
        </div>
    </form>
  </div>
</template>

<script>
    export default {

      data() {
        return {
          appt: {}
        }
      },
      created() {
        let uri = `/api/appt/edit/${this.$route.params.id}`;
        this.axios.get(uri).then((response) => {
            this.appt = response.data;
        });
      },
      methods: {
        updateAppt() {
          let uri = `/api/appt/update/${this.$route.params.id}`;
          this.axios.post(uri, this.appt).then((response) => {
            let message = response.data;

            if (message.includes("success")){
                this.flashSuccess(message);
                this.$router.push({name: 'appts'});
            } else {
                this.flashError(message);
            }
            
            //
          });
        }
      }
    }
</script>