// IndexComponent.vue

<template>
  <div>
      <h1>Appts</h1>
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <router-link :to="{ name: 'create' }" class="btn btn-primary">Create Appt</router-link>
          </div>
        </div><br />

        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Date</th>
                <th>Hour</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="appt in appts" :key="appt.id">
                    <td>{{ appt.id }}</td>
                    <td>{{ appt.email }}</td>
                    <td>{{ appt.start_date }}</td>
                    <td>{{ appt.start_hour }}</td>
                    <td><router-link :to="{name: 'edit', params: { id: appt.id }}" class="btn btn-primary">Edit</router-link></td>
                    <td><button class="btn btn-danger" @click.prevent="deleteAppt(post.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
  </div>
</template>

<script>
  export default {
      data() {
        return {
          appts: []
        }
      },
      created() {
      let uri = '/api/appts';
      this.axios.get(uri).then(response => {
        this.appts = response.data.data;
      });
    },
    methods: {
      deleteAppt(id)
      {
        let uri = `/api/appt/delete/${id}`;
        this.axios.delete(uri).then(response => {
          this.appts.splice(this.appts.indexOf(id), 1);
        });
      }
    }
  }
</script>